<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque - FarmECHO</title>
    <link rel="stylesheet" href="C:\Users\Luiz\OneDrive - AVS CLOUD 360 SOLUCOES DIGITAIS\Área de Trabalho\FARMECHO 2\wwwroot\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <header>
            <h1>FarmECHO</h1>
            <nav>
                <a href="C:\Users\Luiz\OneDrive - AVS CLOUD 360 SOLUCOES DIGITAIS\Área de Trabalho\FARMECHO 2\Views\Home\Index.html">Home</a>
                <a href="C:\Users\Luiz\OneDrive - AVS CLOUD 360 SOLUCOES DIGITAIS\Área de Trabalho\FARMECHO 2\Views\Produtos\Index.html">Venda de Produtos</a>
                <a href="C:\Users\Luiz\OneDrive - AVS CLOUD 360 SOLUCOES DIGITAIS\Área de Trabalho\FARMECHO 2\Views\Estoque\Index.html">Estoque</a>
                <a href="C:\Users\Luiz\OneDrive - AVS CLOUD 360 SOLUCOES DIGITAIS\Área de Trabalho\FARMECHO 2\Views\Produtos\Create.html">Cadastro de Produtos</a>
                <a href="C:\Users\Luiz\OneDrive - AVS CLOUD 360 SOLUCOES DIGITAIS\Área de Trabalho\FARMECHO 2\Views\Clientes\Create.html">Cadastro de Clientes</a>
            </nav>
        </header>
        <main>
            <h2>Estoque</h2>
            <table class="tabela-estoque">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Maçã</td>
                        <td>50 Kg</td>
                    </tr>
                    <tr>
                        <td>Morango</td>
                        <td>45 Kg</td>
                    </tr>
                    <tr>
                        <td>Tomate</td>
                        <td>38 Kg</td>
                    </tr>
                    <tr>
                        <td>Cenoura</td>
                        <td>35 Kg</td>
                    </tr>
                    <tr>
                        <td>Banana</td>
                        <td>30 Kg</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>